* {
    font-family: 'Geist Mono Nerd Font', monospace;
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

window {
    background: #080808;
    margin: 2px;
    border: 0.5px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

#input {
    border: none;
    box-shadow: none;
    background-color: rgba(8, 8, 8, 0.9);
    color: #ffffff;
    padding: 5px;
    border-radius: 8px;
    font-size: 11px;
}

#inner-box {
    margin: 10px;
    background-color: rgba(8, 8, 8, 0.9);
    border-radius: 12px;
    padding: 10px;
}

#outer-box {
    margin: 5px;
    padding: 20px;
    background-color: rgba(8, 8, 8, 0.8);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}


#text {
    margin: 5px;
    color: #cdd6f4;
    font-size: 11px;
}

#entry {
    background-color: rgba(8, 8, 8, 0.9);
    padding: 8px;
    border-radius: 8px;
}

#entry:selected, #text:selected {
    background-color: rgba(8, 8, 8, 0.6);
    color: #ffffff;
}

#img:selected {
    background-color: rgba(8, 8, 8, 0.6);
}

#input:focus, #entry:focus {
    outline: none;
    border: 0.5px solid #ffffff;
    background-color: rgba(8, 8, 8, 0.7);
}

#text:focus {
    color: #ffffff;
}

#entry:hover, #text:hover {
    background-color: rgba(8, 8, 8, 0.5);
    color: #ffffff;
}

#title {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}

#outer-box, #inner-box {
    border-radius: 20px;
}

#input {
    background-color: rgba(8, 8, 8, 0.95);
    border-radius: 8px;
}